//CSS Variables Dark Light Mode


root{
  //Variable Colors
  --primary--color: #91002E;
  --secondary--color: #C88097;
  --neutral--color: #FFFFFF;
  --complementary--color: #340F1B;

  //Variable Icons

}

